#container {
  width: 1920px;
  height: 1080px;
  border: 16px solid rgba(25, 25, 25, 1);
  border-bottom-width: 50px;
}

.cloud {
  background: url(./../images/common/cloud.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1920px;
  height: 262px;
  top: 18px;
  right: 0px;
  z-index: 1;
  position: absolute;
  opacity: 0.5;
}

.logo {
  position: absolute;
  width: 255px;
  height: 270px;
  left: 75px;
  top: 31px;
  background: url(./../images/common/fushi_logo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}

.video_box {
  position: absolute;
  left: 1367px;
  top: 92px;
  width: 515px;
  height: 321px;
  background: url(./../images/run_1_ds/video.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.kaisetsu_box {
  position: absolute;
  left: 43px;
  top: 328px;
  width: 320px;
  height: 492px;
  background: url(./../images/run_1_ds/kaisetsu.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.information_box {
  position: absolute;
  left: 16px;
  top: 841px;
  width: 1888px;
  height: 170px;
  background: url(./../images/run_1/run_1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.movie {
  width: 973.33px;
  height: 730px;
  background-color: rebeccapurple;
  position: absolute;
  top: 90px;
  left: 379px;
  z-index: 10;
}

.movie2 {
  width: 512px;
  height: 388px;
  background-color: rebeccapurple;
  position: absolute;
  top: 432px;
  left: 1368px;
  z-index: 10;
}

.footer .right {
  display: flex;
  align-items: center;
}

.footer {
  position: absolute;
  width: 1920px;
  height: 50px;
  padding: 0 16px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-family: "M PLUS 1", sans-serif;
  font-size: 24px;
  line-height: 35px;
}

.footer span {
  margin-left: 20px;
}

.x_icon {
  width: 28px;
  height: 28px;
  background-image: url("./../images/common/x_icon.png");
  background-size: contain;
  margin-right: 2px;
}

.time {
  width: 343px;
  height: 138px;
  position: absolute;
  left: 26px;
  top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time .now {
  display: inline-block;
  height: 70px;
  color: rgba(55, 35, 31, 1);
  font-weight: 900;
  font-family: "Inconsolata", monospace;
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 15px;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff,
    2px -2px 0 #fff, 0px 2px 0 #fff, 0-2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff;
}

.time .will {
  display: flex;
  height: 33px;
  align-items: center;
  height: 18px;
  color: rgba(55, 35, 31, 1);
  font-weight: 900;
  font-family: "M PLUS 1", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff,
    2px -2px 0 #fff, 0px 2px 0 #fff, 0-2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff;
}

.time .will span {
  font-family: "Inconsolata", monospace;
  font-size: 33px;
  line-height: 33px;
  margin-left: 8px;
}

.title {
  display: inline-block;
  color: rgba(55, 35, 31, 1);
  font-weight: 900;
  font-family: "M PLUS 1", sans-serif;
  font-size: 50px;
  line-height: 50px;
  width: 937px;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff,
    2px -2px 0 #fff, 0px 2px 0 #fff, 0-2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff;
  position: absolute;
  left: 440px;
  top: 38px;
  text-align: center;
  height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.dashed_line {
  width: 3px;
  height: 101px;
  background-image: url("./../images/run_1/dashed_line.png");
  background-size: contain;
  display: block;
  position: absolute;
  left: 1390px;
  top: 40px;
}

.game_detail {
  position: absolute;
  display: block;
  left: 1410px;
  top: 60px;
  width: 424px;
  height: 61px;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff,
    2px -2px 0 #fff, 0px 2px 0 #fff, 0-2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff;

  color: rgba(55, 35, 31, 1);
  text-align: center;
  font-size: 26px;
  line-height: 34px;
  font-weight: 900;
  font-family: "M PLUS 1", sans-serif;
}

.time .now.stop_yellow {
  color: rgba(255, 222, 48, 1);
  text-shadow: 2.5px 2.5px 0 rgba(55, 35, 31, 1),
    -2.5px -2.5px 0 rgba(55, 35, 31, 1), -2.5px 2.5px 0 rgba(55, 35, 31, 1),
    2.5px -2.5px 0 rgba(55, 35, 31, 1), 0px 2.5px 0 rgba(55, 35, 31, 1),
    0-2.5px 0 rgba(55, 35, 31, 1), -2.5px 0 0 rgba(55, 35, 31, 1),
    2.5px 0 0 rgba(55, 35, 31, 1);
}
