.cloud {
  background: url(./../images/run_2/cloud.png) no-repeat center / cover;
  width: 1920px;
  height: 351px;
  top: -16px;
  right: -16px;
  z-index: 1;
  position: absolute;
}

.video_box {
  position: absolute;
  left: 35px;
  top: 233px;
  width: 360px;
  height: 255px;
  background: url(./../images/run_1/video.png);
  background-size: contain;
  z-index: 1;
}

.kaisetsu_box {
  position: absolute;
  left: 35px;
  top: 498px;
  width: 360px;
  height: 349px;
  background: url(./../images/run_1/kaisetsu.png) no-repeat center / contain;
}

.information_box_header {
  position: absolute;
  left: 0;
  top: 15px;
  width: 1888px;
  height: 234px;
  background: url(./../images/run_2/run_2_header.png) no-repeat center / contain;
  z-index: 3;
}

.information_box {
  position: absolute;
  left: 11px;
  top: 812px;
  width: 1871px;
  height: 168px;
  background: url(./../images/run_2/run_2.png) no-repeat center / contain;
}

.movie {
  width: 1872px;
  height: 546px;
  background-color: rebeccapurple;
  position: absolute;
  top: 265px;
  left: 24px;
  z-index: 10;
}

.game_box {
  width: 1473px;
  height: 154px;
  top: 50px;
  left: 341px;
}

.time {
  width: 343px;
  height: 138px;
  position: absolute;
  right: 5px;
  left: auto;
  top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}