.cloud {
  background: url(./../images/common/cloud.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1920px;
  height: 262px;
  top: 2px;
  right: -16px;
  z-index: 1;
  position: absolute;
  opacity: 0.5;
}

.logo {
  position: absolute;
  width: 255px;
  height: 270px;
  left: 60px;
  top: 14px;
  z-index: 5;
}

.video_box {
  position: absolute;
  left: 1349px;
  top: 72px;
  width: 525px;
  height: 325px;
  background: url(./../images/run_1_ds/video.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.kaisetsu_box {
  position: absolute;
  left: 25px;
  top: 307px;
  width: 323px;
  height: 500px;
  background: url(./../images/run_1_ds/kaisetsu.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.information_box {
  position: absolute;
  left: 0;
  top: 826px;
  width: 100%;
  height: 171px;
  background: url(./../images/run_1/run_1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.movie {
  width: 973.33px;
  height: 730px;
  background-color: rebeccapurple;
  position: absolute;
  top: 90px;
  left: 379px;
  z-index: 10;
}

.movie2 {
  width: 512px;
  height: 388px;
  background-color: rebeccapurple;
  position: absolute;
  top: 432px;
  left: 1368px;
  z-index: 10;
}

.time {
  width: 343px;
  height: 138px;
  position: absolute;
  left: 26px;
  top: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_box {
  width: 1473px;
  height: 154px;
  top: 14px;
  left: 396px;
}