@charset "utf-8";

.cloud {
  background: url(./../images/common/cloud.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(100% + 32px);
  height: 262px;
  top: 2px;
  right: -16px;
  z-index: 1;
  position: absolute;
  opacity: 0.5;
}

.logo {
  position: absolute;
  width: 193px;
  height: 204px;
  left: 100px;
  top: 1px;
  z-index: 5;
}

.video_box {
  position: absolute;
  left: 17px;
  top: 213px;
  width: 364px;
  height: 259px;
  background: url(./../images/run_1/video.png);
  background-size: contain;
  z-index: 1;
  background-repeat: no-repeat;
}

.kaisetsu_box {
  position: absolute;
  left: 17px;
  top: 479px;
  width: 364px;
  height: 356px;
  background: url(./../images/run_1/kaisetsu.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.information_box {
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 1888px;
  height: 170px;
  background: url(./../images/run_1/run_1.png) no-repeat center / contain;
}

.movie {
  width: 1470px;
  height: 826px;
  background-color: rebeccapurple;
  position: absolute;
  top: 32px;
  left: 415px;
  z-index: 10;
}

.game_box {
  width: 1473px;
  height: 154px;
  top: 14px;
  left: 396px;
}

.time {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}