.cloud {
  background: url(./../images/run_3/cloud.png) no-repeat center / contain;
  width: 1920px;
  height: 288px;
  top: -3px;
  right: -16px;
  z-index: 1;
  position: absolute;
}

.logo {
  left: 85px;
  top: 30px;
  width: 211px;
  height: 223px;
}

.kaisetsu_box {
  position: absolute;
  left: 27px;
  top: 277px;
  width: 328px;
  height: 528px;
  background: url(./../images/run_3_pu_4x3/kaisetsu.png) no-repeat center / contain;
}

.information_box {
  position: absolute;
  left: 0;
  top: 832px;
  width: 100%;
  height: 170px;
  background: url(./../images/run_1/run_1.png) no-repeat center / contain;
}

.movie {
  width: 977px;
  height: 815px;
  background-color: rebeccapurple;
  position: absolute;
  top: 13px;
  left: 372px;
  z-index: 10;
}

.movie_footer {
  width: 100%;
  height: 50px;
  background-color: rgba(203, 186, 149, 1);
  position: absolute;
  bottom: 0;
  border: solid 4px rgba(25, 25, 25, 1);
  border-top: transparent;
  color: rgba(55, 35, 31, 1);
  font-size: 28px;
  line-height: 35px;
  font-weight: 900;
  font-family: "M PLUS 1", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie_footer .player_time {
  color: rgba(10, 35, 46, 0.6);
  font-size: 36px;
  line-height: 36px;
  font-weight: 800;
  font-family: "Inconsolata", monospace;
  right: 10px;
  display: inline-flex;
  align-items: center;
  padding-right: 10px;
  height: 38px;
  width: 190px;
  margin-left: auto;
  justify-content: flex-end;
}

.movie_footer .player_time.stop_blown {
  background-color: rgba(126, 49, 6, 1);
  color: #fff;
}

.movie_footer .player_time .flag {
  display: none;
}

.movie_footer .player_time.stop_blown .flag {
  background: url(./../images/run_2/flag.png);
  width: 44px;
  height: 25.5px;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.player {
  margin-right: auto;
}

.movie .movie_footer {
  width: 100%;
  height: 50px;
  background-color: rgba(203, 186, 149, 1);
  position: absolute;
  bottom: 0;
  border: solid 4px rgba(25, 25, 25, 1);
  border-top: transparent;
  color: rgba(55, 35, 31, 1);
  font-size: 28px;
  line-height: 40px;
  font-weight: 900;
  font-family: "M PLUS 1", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.movie .movie_footer .player_time {
  color: rgba(10, 35, 46, 0.6);
  font-size: 36px;
  line-height: 36px;
  font-weight: 800;
  font-family: "Inconsolata", monospace;
  right: 10px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  height: 36px;
  justify-content: flex-end;
}

.movie .movie_footer .player_time.stop_blown {
  background-color: rgba(126, 49, 6, 1);
  color: #fff;
}

.movie .movie_footer .player_time .flag {
  display: none;
}

.movie .movie_footer .player_time.stop_blown .flag {
  background: url(./../images/run_2/flag.png);
  width: 44px;
  height: 25.5px;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.movie2 {
  width: 482px;
  height: 403px;
  background-color: rebeccapurple;
  position: absolute;
  top: 13px;
  left: 1365px;
  z-index: 10;
}

.movie3 {
  width: 482px;
  height: 403px;
  background-color: rebeccapurple;
  position: absolute;
  top: 425px;
  left: 1365px;
  z-index: 10;
}

.game_box {
  width: 1473px;
  height: 154px;
  top: 14px;
  left: 396px;
}