.cloud {
  background: url(./../images/run_3/cloud.png) no-repeat center / contain;
  width: 1920px;
  height: 288px;
  top: -3px;
  right: -16px;
  z-index: 1;
  position: absolute;
}

.logo {
  left: 65px;
  top: 32px;
  width: 193px;
  height: 204px;
  z-index: 3;
}

.kaisetsu_box {
  position: absolute;
  left: 18px;
  top: 275px;
  width: 302px;
  height: 534px;
  background: url(./../images/run_3_pu/kaisetsu.png) no-repeat center / contain;
}

.information_box {
  position: absolute;
  left: 0;
  bottom: 22px;
  width: 100%;
  height: 170px;
  background: url(./../images/run_1/run_1.png) no-repeat center / contain;
}

.movie {
  width: 1180px;
  height: 710px;
  background-color: rebeccapurple;
  position: absolute;
  top: 97px;
  left: 332px;
  z-index: 10;
}

.movie_footer {
  width: 100%;
  height: 86px;
  background-color: rgba(203, 186, 149, 1);
  position: absolute;
  bottom: 0;
  border: solid 4px rgba(25, 25, 25, 1);
  border-top: transparent;
  color: rgba(55, 35, 31, 1);
  font-size: 24px;
  line-height: 35px;
  font-weight: 900;
  font-family: "M PLUS 1", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.movie_footer .player_time {
  color: rgba(10, 35, 46, 0.6);
  font-size: 36px;
  line-height: 36px;
  font-weight: 800;
  font-family: "Inconsolata", monospace;
  right: 10px;
  display: inline-flex;
  align-items: center;
  padding-right: 10px;
  height: 36px;
  margin-bottom: 5px;
  width: 190px;
  margin-left: auto;
  justify-content: flex-end;
}

.movie_footer .player_time.stop_blown {
  background-color: rgba(126, 49, 6, 1);
  color: #fff;
}

.movie_footer .player_time .flag {
  display: none;
}

.movie_footer .player_time.stop_blown .flag {
  width: 44px;
  height: 25.5px;
  display: block;
  background: url(./../images/run_2/flag.png) no-repeat center / contain;
}

.player {
  margin-right: auto;
}

.movie .movie_footer {
  width: 100%;
  height: 50px;
  background-color: rgba(203, 186, 149, 1);
  position: absolute;
  bottom: 0;
  border: solid 4px rgba(25, 25, 25, 1);
  border-top: transparent;
  color: rgba(55, 35, 31, 1);
  font-size: 28px;
  line-height: 40px;
  font-weight: 900;
  font-family: "M PLUS 1", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.movie .movie_footer .player_time {
  color: rgba(10, 35, 46, 0.6);
  font-size: 36px;
  line-height: 36px;
  font-weight: 800;
  font-family: "Inconsolata", monospace;
  right: 10px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  height: 36px;
  justify-content: flex-end;
}

.movie .movie_footer .player_time.stop_blown {
  background-color: rgba(126, 49, 6, 1);
  color: #fff;
}

.movie .movie_footer .player_time .flag {
  display: none;
}

.movie .movie_footer .player_time.stop_blown .flag {
  width: 44px;
  height: 25.5px;
  display: block;
  background: url(./../images/run_2/flag.png) no-repeat center / contain;
}

.movie2 {
  width: 355px;
  height: 284px;
  background-color: rebeccapurple;
  position: absolute;
  top: 231px;
  left: 1520px;
  z-index: 10;
}

.movie3 {
  width: 355px;
  height: 284px;
  background-color: rebeccapurple;
  position: absolute;
  top: 523px;
  left: 1520px;
  z-index: 10;
}

.game_box {
  width: 1473px;
  height: 154px;
  top: 14px;
  left: 396px;
}

.time {
  width: 343px;
  height: 138px;
  position: absolute;
  left: 26px;
  top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time .now {
  display: inline-block;
  height: 70px;
  color: rgba(55, 35, 31, 1);
  font-weight: 900;
  font-family: "Inconsolata", monospace;
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 15px;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff,
    2px -2px 0 #fff, 0px 2px 0 #fff, 0-2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff;
}

.time .will {
  display: flex;
  height: 33px;
  align-items: center;
  height: 18px;
  color: rgba(55, 35, 31, 1);
  font-weight: 900;
  font-family: "M PLUS 1", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff,
    2px -2px 0 #fff, 0px 2px 0 #fff, 0-2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff;
}

.time .will span {
  font-family: "Inconsolata", monospace;
  font-size: 33px;
  line-height: 33px;
  margin-left: 8px;
}