
.cloud {
  background: url(./../images/run_2_4x3/cloud.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1920px;
  height: 351px;
  top: 37px;
  right: -16px;
  z-index: 1;
  position: absolute;
}

.video_box {
  position: absolute;
  left: 35px;
  top: 233px;
  width: 360px;
  height: 255px;
  background: url(./../images/run_1/video.png);
  background-size: contain;
  z-index: 1;
}

.kaisetsu_box {
  position: absolute;
  left: 35px;
  top: 498px;
  width: 360px;
  height: 349px;
  background: url(./../images/run_1/kaisetsu.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.information_box_header {
  position: absolute;
  left: 0;
  top: -13px;
  width: 100%;
  height: 186px;

  background: url(./../images/run_2_4x3/run_2_header.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}

.information_box {
  position: absolute;
  left: 28px;
  bottom: -2px;
  width: 1850px;
  height: 158px;
  background: url(./../images/run_2_4x3/run_2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.movie {
  width: 896px;
  height: 721px;
  background-color: rebeccapurple;
  position: absolute;
  top: 176px;
  left: 36px;
  z-index: 10;
}

.movie_footer {
  width: 100%;
  height: 50px;
  background-color: rgba(203, 186, 149, 1);
  position: absolute;
  bottom: 0;
  border: solid 4px rgba(25, 25, 25, 1);
  border-top: transparent;
  color: rgba(55, 35, 31, 1);
  font-size: 28px;
  line-height: 40px;
  font-weight: 900;
  font-family: "M PLUS 1", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie_footer .player_time {
  color: rgba(10, 35, 46, 0.6);
  font-size: 36px;
  line-height: 36px;
  font-weight: 800;
  font-family: "Inconsolata", monospace;
  right: 10px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  height: 36px;
}

.movie_footer .player_time.stop_blown {
  background-color: rgba(126, 49, 6, 1);
  color: #fff;
}

.movie_footer .player_time .flag {
  display: none;
}

.movie_footer .player_time.stop_blown .flag {
  background: url(./../images/run_2/flag.png);
  width: 44px;
  height: 25.5px;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.movie2 {
  width: 896px;
  height: 721px;
  background-color: rebeccapurple;
  position: absolute;
  top: 176px;
  right: 36px;
  z-index: 10;
}

.game_box {
  width: 1473px;
  height: 154px;
  top: 22px;
  left: 371px;
}

.time {
  width: 480px;
  /*height: 105px;*/
  position: absolute;
  left: auto;
  right: 28px;
  top: 62px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.time .now {
  display: inline-block;
  color: rgba(55, 35, 31, 1);
  font-weight: 900;
  font-family: "Inconsolata", monospace;
  font-size: 80px;
  margin-bottom: 5px;
  letter-spacing: -2.1px;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff,
    2px -2px 0 #fff, 0px 2px 0 #fff, 0-2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff;
}

.time .will {
  display: block;
  height: auto;
}

.time .will span {
  display: block;
  margin: 0;
}
